<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success | Floppy App</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Get Floppy App</title>
                <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
                <script src="https://js.stripe.com/v3/"></script>
                <link rel="stylesheet" href="/stylesheets/index.css">
            </head>
                <div class="header" style="display: flex; flex-direction: column; height: 100vh;">
                    <div class="msg">
                        <center>
                            <h1 class="pricing" style="font-size: 2.5em;font-family: 'Open Sans', sans-serif; color: white;">THANKS FOR BUYING FLOPPY APP!</h1>
                            <span style="font-size: 1.25em; font-family: 'Open Sans', sans-serif; color: white;">Please check your email for the License Key.</span>
                        </center>
                    </div>
                    <div style="flex-shrink: 0; margin-bottom: 0.2em;">
                        <svg
                            class="waves"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 28"
                            preserveAspectRatio="none"
                            shape-rendering="auto"
                        >
                            <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                            </defs>
                            <g class="parallax">
                                <use
                                    xlink:href="#gentle-wave"
                                    x="48"
                                    y="0"
                                    fill="rgba(255,255,255,0.7)"
                                />
                                <use
                                    xlink:href="#gentle-wave"
                                    x="48"
                                    y="3"
                                    fill="rgba(255,255,255,0.5)"
                                />
                                <use
                                    xlink:href="#gentle-wave"
                                    x="48"
                                    y="5"
                                    fill="rgba(255,255,255,0.3)"
                                />
                                <use
                                    xlink:href="#gentle-wave"
                                    x="48"
                                    y="7"
                                    fill="#fff"
                                />
                            </g>
                        </svg>
                    </div>
                </div>
            </body>
        </html>
    </body>
</html>
